AnimalSpawn/AnimalSpawn.Api/obj
AnimalSpawn/AnimalSpawn.Api/bin
AnimalSpawn/AnimalSpawn.Application/obj
AnimalSpawn/AnimalSpawn.Application/bin
AnimalSpawn/AnimalSpawn.Domain/obj
AnimalSpawn/AnimalSpawn.Domain/bin
AnimalSpawn/AnimalSpawn.Infraestructure/obj
AnimalSpawn/AnimalSpawn.Infraestructure/bin
